@import url(http://fonts.googleapis.com/css?family=Bitter);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);

body {
    background: url("px_by_Gre3g.png");
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    line-height: 1.429;
    margin: 0;
    padding: 0;
    text-align: left;
}

.title {font-size: 2.4em; text-align: center; margin: 0 5px 0 5px; }
.date { text-decoration: none; text-align: center; margin: 0 5px 0 5px; }

h1 {font-size: 2em}
h2 {font-size: 1.8em}
h3 {font-size: 1.429em}	/* 20px */
h4 {font-size: 1.143em}	/* 16px */
h5 {font-size: 1em}	/* 14px */
h6 {font-size: 1em}	/* 14px */

h1, h2 { text-decoration: underline; }

h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
	line-height: 1.1;
	font-family: 'Bitter', cursive;
        clear: both;
}

.literal-block { clear: both; }

h3, h4, h5, h6 { margin-top: .8em; }
	
hr { border: 2px solid #EEEEEE; }

a {outline: 0;}
a img {border: 0px; text-decoration: none;}
a:link, a:visited { color: #44F; text-decoration: none; }
a:hover, a:active { text-decoration: underline; }

.content, .banner, .footer {
    background-color: #EEE;
    border: 3px solid #333;
    border-radius: 10px;
    padding: 20px 20px;
    margin: auto;
    width: 720px;
}

.footer { text-align: center; }
