<div class="footer">
  <div class="container">

    <nav class="footer-nav">
      <p>
        <a class="sidebar-nav-item{% if page.url == '/nick-moore/' %} active{% endif %}" href="/nick-moore/">About me: Nick Moore</a>
        <a class="sidebar-nav-item{% if page.url == '/ref/' %} active{% endif %}" href="/ref/">Interesting Links</a>
      </p>

      <h2><a href="/everything/">Recently:</a></h2>

      {% assign pages_list = site.pages | where:"layout","article" | sort:"date" | reverse %}
      {% for node in pages_list limit:10 %}
        {% if node.title != null %}
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
        {% endif %}
      {% endfor %}
    </nav>

    <nav class="footer-tags">
	    <h2><a href="/all_tags/">Tags:</a></h2>
      {% assign sorted_pages = site.pages | where: "layout","tag" | sort:"tag" %}
      <p style="font-size: 0.8em">
      {% for node in sorted_pages %}
	<a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" style="display: inline-block" href="{{ node.url }}">{{ node.title }}</a>
      {% endfor %}
      </p>
    </nav>

    <p class="footer-copy">All content Copyright © 2009-2023 Nick Moore unless otherwise noted</p>

  </div>
</div>
