@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro|Oxygen+Mono|Bitter:400,700);

body {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Bitter, Impact, sans-serif;
    font-weight: 400;
    margin: 15px;
}

h1, h3 { font-weight: 700; }

h2, h4 { color: #752123; }

body.flip { 
    overflow: hidden;
    width: 100%;
}

body.flip h1, body.flip h3 {
    border-bottom: 3px solid #752123;
}

pre, .fixed {
    font-family: "Oxygen Mono", mono;
    line-height: 120%;
}

p {
    margin: 15px;
}

.hide {
    visibility: hidden;
}

p.small { font-size: 72% }

pre, ul, ol {
    display: inline-block;
    text-align: left;
    margin: 15px;
    max-width: 90%;
}

body.flip { 
   background-color: black;
   color: white;
   font-size: 40px;
   height: 100%;
   padding: 0px;
   margin: 0px;
}

body > div {
    text-align: center;
    border-top: 1px solid black;
    padding: 5px;
}

body > div:first-child {
    border-top: none;
}

body.flip > div {
    border: 0;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity 250ms;
} 

body.flip-unhide {
    background-color: white;
    transition: background-color 2000ms;
}

body.flip-hide {
   background-color: black;
   transition: background-color 2000ms;
}

body.flip-hide > div, body.flip-unhide > div {
    opacity: 0;
    transition: opacity: 2000ms;
}

div.slide {
    page-break-inside: avoid;
    clear: both;
    overflow: hide;
}

body.flip > div.show {
    opacity: 1;
    transition: opacity 250ms;
}

pre { 
    background-color: #DDD;
    padding: 5px;
}

body.flip pre {
    background-color: #444;
    padding: 10px;
}

body.flip a {
    color: #AAF;
    text-decoration: none;
}

body.flip b, body.flip .top {
    color: #FF6;
}

div.footer {
    border: none;
}

body.flip div.footer {
    margin: auto;
    color: grey;
    opacity: 1;
    position: fixed;
    top: auto;
    bottom: 0px;
    width: 100%;
    font-size: 20px;
}

body.flip div.footer span {
    border-top: 3px solid #752123;
    padding-left: 30px;
    padding-right: 30px;
}

div.footer img.logo {
    height: 1.5em;
    vertical-align: middle;
    padding-right: 1em;
}

body.flip .small { font-size: 20px; }

body.flip table {
    font-size: 40px;
    margin: auto;
    border-collapse: collapse;
}

body.flip table tr:first-child th {
    background-color: #752123;
}

body.flip table td, body.flip table th {
    border: 3px solid #752123;
    padding: 10px;
}

img.whiteborder {
    background-color: white;
    border: 10px solid white;
}

img.eighty {
    max-width: 20em;
    max-height: 75%;
}

img.ninety {
    max-width: 25em;
    max-height: 90%;
}

.floatleft {
    float: left;
    max-width: 40%;
}

.floatleft img, .floatright img {
    margin-left: 25%;
    /*margin-right: 25%;*/
}

body.flip ul.floatright {
    float: right;
    max-width: 50%;
}
