<html>
  <head>
    <link rel="stylesheet" href="/css/main.css"/>
    <title>Testing! {{ page.title }}</title>
  </head>
  <body>
    <div class="pages">
      <a href="/nick-moore/">Nick Moore</a>
    </div>

    <div class="banner">
      <pre>
      {{ page.date }}
      {{ page.category }}
      {{ page.tags }}
      {{ page.slug }}
      {{ page.summary }}
      </pre>
    </div>

    <div class="content">
      {{ content }}
    </div>

    <div class="footer">
      All content Copyright &copy; 2011-2017 Nick Moore unless otherwise noted
    </div>
  </body>
</html>

