---
layout: base
---
    <div class="page">
      {% assign sorted_pages = site.pages | where:"layout","article" | sort:"date" | reverse %}
      {% assign prev_year = 0 %}
      {% for page in sorted_pages %}
          {% assign this_year = page.date | date: "%Y" %}
          {% if this_year != prev_year %}
            <h1 class="page-title">{{ this_year }}</h1>
            {% assign prev_year = this_year %}
          {% endif %}
          <a href="{{ page.url }}"><h3>{{ page.title }}</h3></a>
          {% if page.summary %}<p>{{ page.summary }}</p>{% endif %}
      {% endfor %}
    </div>
