---
layout: base
---
<div class="sidebar">
  <div class="pages">
    <a href="/nick-moore/">Nick Moore</a>
  </div>

  <div class="recently">
    <h2>Recently:</h2>
    <ul>
      {% assign recent_pages = site.pages | sort:"date" | reverse %}
      {% for page in recent_pages limit:10 %}{% if page.layout == "article" %}<li><a href="{{ page.url }}">{{ page.title }}</a></li>{% endif %}{% endfor %}
    </ul>
    <p><a href="/everything/">More ...</a></p>
  </div>

  <div class="tags">
    <h2>Tags:</h2>
    <ul>
      {% assign sorted_pages = site.pages | sort:"title" %}
      {% for page in sorted_pages %}{% if page.layout == "tag" %}<li><a href="{{ page.url }}">{{ page.title }}</a></li>{% endif %}{% endfor %}
    </ul>
  </div>
</div>

{{ content }}
